<!DOCTYPE html>
<html>
<head>
    <title>Test data</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            setInterval(function() {
                $.get("/update_temperature", function(data) {
                    $("#temperature").text(data.temperature);
                });
            }, 500); //update tik
        });
    </script>
</head>
<body>
    <h1>Test Data from microcontroller</h1>
    <p id="temperature">{{ temperature }}</p>
</body>
</html>

